.modal{
    min-width: 30%;
}
.title{
    margin-left: 37%;
    color: gray;
}
.login_right { 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    width: 95%;
    height: 70%;
    margin-top: 10px;
}

.login_loginInputEmail {
    display: flex;
    align-items: center;
    color: #8dc63e;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border: 1px solid rgba(0,0,0,.2);
    
}

.login_loginInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.login_loginInputEmail input {
    background: transparent;
    width: 100%;
    outline: none;
    color: #000000;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.login_loginInputPassword {
    display: flex;
    align-items: center;
    color: #8dc63e;
    background-color: #ffffff;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

.login_loginInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
    
}

.login_loginInputPassword input {
    background: transparent;
    width: 100%;
    outline: none;
    color:  #000000;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.login_loginBut{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color:  #8dc63e; 
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    transition-duration: 100ms;
    margin-top: 20px;
}

.login_loginBut a {
    cursor: pointer;
    border: none;
    margin-left: 40%;
    font-family: 'Quicksand',sans-serif;
    font-size: 17px;
    font-weight: 550;
}

.login_loginBut:hover {
    background-color: #bde882;
    color: #EFF2F5;
    cursor: pointer;
}

.create{
    color: gray;
    cursor: pointer;
    margin-top: 10px;
}

.login_eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(176, 176, 176);
}