@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,600&family=Sarala:wght@700&display=swap');


.logo{
  position: absolute;
  top: 3%;
  left: 6%;
  cursor: pointer;
  margin-right: 10px;

  
}
.loginBut{
    position: absolute;
    top: 25px;
    right: 8%;
    cursor: pointer;
    padding: 11px 35px;
    background: linear-gradient(90deg,#8dc63d 0%,#8dc63e 29.54%,#8dc63f 75.59%,#8dc63d 100.02%);
    border-radius: 50px;
    border: none;
    color: #fff;
    box-shadow: rgba(68, 68, 68, 0.24) 0 3px 8px 0; 
    text-decoration: none;
    font-family: 'Quicksand',sans-serif;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
    transition-duration: 100ms;
}
.loginBut:hover{
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  box-shadow: rgba(68, 68, 68, 0.24) 0 3px 8px 0;
  cursor: pointer;
  border: none;
}