.navBar{
  background-color: #23282d;
}

.container{ 
  display: flex;
  width: 100%;
  height: 9vh;
  min-height: 55px;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #23282d;
  
}

.logo{
    margin: 0;
    min-width:150px;
    position: absolute;
    left:-5px;
}
.userName {
  width: 120px;
  height: 55px;
  display: flex;
  right: 0;
  position: fixed;
  color: #aaacab;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition-duration: 100ms;
  z-index: 1;
}
.userName svg{
  position: fixed;
  top: 15px;
  right: 95px;
  
  font-size: 20px;
}
.userName a{
  position: fixed;
  right: 10px;
  top: 15px;
  font-size: 15px;
  text-transform: capitalize;
}
.logout {
  visibility: hidden;
}

.userName:hover{
  color: aliceblue;
  cursor: pointer;
  background-color: #32373c;
  height: 120px;
}

.userName:hover .logout{
  display: flex;
  visibility: visible;
  position: fixed;
  top: 50px;
  right: 10px;
}
.userName:hover .logout_svg{
  top: 67px;
  right: 45px;
}