.texts{
    max-width: 550px;
    position: absolute;
    top: 38%;
    left: 4%;
}
.texts h1{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #211e1e;
}

.texts p{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 10px;
    font-family: 'Quicksand',sans-serif;

}

.regBut{
    position: absolute;
    margin-top: 15px;
    cursor: pointer;
    padding: 12px 30px;
    background: linear-gradient(90deg,#FF0060 0%,#FF1B6A 29.54%,#FF4077 75.59%,#FF4E7C 100.02%);
    padding: 16px 35px;
    border-radius: 50px;
    border: none;
    color: #fff;
    box-shadow: rgba(0,0,0,.24) 0 4px 12px 0;
    text-decoration: none;
    font-family: 'Quicksand',sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
    transition-duration: 200ms;
}

.regBut:hover{
    color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  box-shadow: rgba(68, 68, 68, 0.24) 0 3px 8px 0;
  cursor: pointer;
  border: none;
}

.back_img{
    width: 49%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 25%;
    overflow: hidden;
    margin: 0;
    
}