.modal{
    min-width: 30%;
    top: 10%;
}
.title{
    display: flex;
    align-items: center;
    width: 98%;
    height: 50px;
}
.title h1{
    margin:auto;
    vertical-align:middle;
    color: gray;
}
.register_right { 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    width: 95%;
    height: 70%;
    margin-top: 10px;
}

.register_registerInputName {
    display: flex;
    align-items: center;
    color: #8dc63e;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border: 1px solid rgba(0,0,0,.2);
}

.register_registerInputName svg{
    margin-left: 10px;
    font-size: 25px;
}

.register_registerInputName input {
    background: transparent;
    width: 100%;
    outline: none;
    color: #000000;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.register_registerInputEmail {
    display: flex;
    align-items: center;
    color: #8dc63e;
    background-color: #ffffff;
    padding: 3px;
    margin: 8px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

.register_registerInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.register_registerInputEmail input {
    background: transparent;
    width: 100%;
    outline: none;
    color: #000000;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.register_registerInputPassword {
    display: flex;
    align-items: center;
    color: #8dc63e;
    background-color: #ffffff;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

.register_registerInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.register_registerInputPassword input {
    background: transparent;
    width: 100%;
    outline: none;
    color:  #000000;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.SelectPro{
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 98%;   
}

.Select{
    width: 100%; 
}

.register_but {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color:  #8dc63e; 
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    transition-duration: 100ms;
    margin-top: 20px;
}

.register_but a{
    cursor: pointer;
    border: none;
    margin-left: 40%;
    font-family: 'Quicksand',sans-serif;
    font-size: 17px;
    font-weight: 550;
}

.register_but:hover {
    background-color: #bde882;
    color: #EFF2F5;
    cursor: pointer;
}

.login{
    color: gray;
    cursor: pointer;
    margin-top: 10px;
}

.register_eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(176, 176, 176);
}